<!DOCTYPE html>
<html>
<head>
<title> </title>

<!--STYLESHEET-->
<link rel="stylesheet" type="text/css" href="mystyle.css">

<!--CUSTOM FONT-->
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/buy">Shop</a></li>
	</ul>
</div>

<div class="banner">
	<img src="images/banners/BannerOrange.jpg">
</div>
<div class="content2">
	<h4>Aling Nena's is a sari-sari store that offers no less than everything you need. However, few knows that it started from humble beginnings.
	It was first opened in 2009 by none other than Aling Nena. Since then, the store grew in terms of size and popularity.
	Back in 2013, Aling Nena was fortunate enough to
	know certain MIS students. They agreed to develop an inventory system for her. With this new technology, Aling Nena's sari-sari store
	became more efficient and effective, propelling the franchise to what it is today. This year, Aling Nena decided to further expand
	her market to the world wide web, ensuring the company's mark as one of the best sari-sari stores in the world. </h4>
	<br />
	<h4>Aling Nena's: Sari-sari store nga lang kami, may website naman!</h4>
</div>

</body>
</html>