<!DOCTYPE html>
<html>
<head>
<title> </title>

<!--STYLESHEET-->
<link rel="stylesheet" type="text/css" href="mystyle.css">

<!--CUSTOM FONT-->
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/buy">Shop</a></li>
	</ul>
</div>

<div class="banner">
	<img src="images/banners/BannerOrange.jpg">
</div>
<div class="content">
	<div id="leftpart">
		<h1>Welcome!</h1>
		<h4>Here are some of our available products:</h4>
	</div>
	
	<div id="mid">
	
		<div id="midtop">
			<img src="images/kids01.jpg">
		</div>
		
		
		<div id="midcenter">
			<div id="midcentercontent">
				<h1>Filipino Love</h1>
			</div>
		</div>
		
		
		<div id="midbot">
			<img src="images/kids02.jpg">
		</div>
		
	</div>
	
	<div id="rightpart">
		<div id="bs">
			<h1>Mission:</h1>
			<h4>Here at Aling Nena's, serving is our passion. We are a company that does not only provide quality and affordable goods, but we also reach out and give back to others.
			Every store is part of a community, and we take our responsibility to invest and build that family.
			We will share that warm Filipino Love in all shapes and sizes.
			<h1>Values:</h1>
			<ul>
			<li>Honesty</li>
			<li>Frugality</li>
			<li>Quality</li>
			<li>Excellence</li>
			<li>Passion</li>
			<li>Kindness</li>
			<li>Goodness</li>
			<li>Compassion</li>
		</div>
		
		<div id="contact">
			<h5>Telephone Number: 1234567</h5>
			<h5>Email:Nenarockz_123@yahoo.com</h5>
			<h5>Facebook: facebook.com/Nenarokzz</h5>
		</div>
</div>

</body>
</html>