<!DOCTYPE html>
<html>
<head>
<title> </title>

<!--STYLESHEET-->
<link rel="stylesheet" type="text/css" href="/mystyle.css">

<!--CUSTOM FONT-->
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/buy">Shop</a></li>
	</ul>
</div>

<div class="banner">
	<img src="/images/banners/BannerOrange.jpg">
</div>
<div class="content">
	<div id="leftpart">
		<form method = "POST" action="/buy_product/<%= @product.id %>">
		<h1>Details:</h1>
		<h3>Product name:</h3>
		<h4><%= @product.name %></h4>
		<h3>Price:</h3>
		<h4 id="aprice"><%= @product.price %></h4>
		<h3>Quantity:</h3>
		<h4>&nbsp<%= @product.quantity %></h4>
	</div>
	
	<div id="mid">
	
		<div id="midtop">
			<img src="/images/kids01.jpg">
		</div>
		
		
		<div id="midcenter">
			<div id="midcentercontent">
				<h1>Filipino Love</h1>
			</div>
		</div>
		
		
		<div id="midbot">
			<img src="/images/kids02.jpg">
		</div>
		
	</div>
	
	<div id="rightpart">
		<div id="bs">
			<h3>Quantity:</h3>
		<input type="text" id="aquantity" class="quantity_input" name="aquantity" placeholder="Enter the amount">
		<span><input type="button" name="button1" value="calculate" onClick="getTotal()">
		<br />
		<h4>Amount Due:</h4>
		<!--<p id="final" name="due">0.0</p>-->
	
		<input type="text" id="final" name="due" disabled>
		<br />
		<br />
		<button type="submit">Confirm!</button>
		</div>
		
		<div id="contact">
			<h5>Telephone Number: 1234567</h5>
			<h5>Email:Nenarockz_123@yahoo.com</h5>
			<h5>Facebook: facebook.com/Nenarokzz</h5>
		</div>

</body>

<script>
		function getTotal()
		{
			var aQuantity = document.getElementById("aquantity").value;
			var aPrice = document.getElementById("aprice").innerHTML;
			var total=aPrice*aQuantity;
			//document.getElementById("final").innerHTML = total.toString();
			document.getElementById("final").value = total.toString();
		}
		
		
	</script>
</html>